<app-sidenav activePage="3"></app-sidenav>

<div
  class="min-height-300 position-absolute w-100"
  style="background-color: #f5573f"
></div>

<main class="main-content position-relative border-radius-lg">
  <div class="container-fluid py-4">
    <br />
    <div class="row" style="margin-left: 18rem">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>Notifications</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th
                      class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                    >
                      Title
                    </th>
                    <th
                      class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                    >
                      Date
                    </th>
                    <th
                      class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                    >
                      Message
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let notif of notifications">
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">
                            {{ notif.title }}
                          </h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">
                        {{ notif.date }}
                      </p>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <p class="text-xs font-weight-bold mb-0">
                        {{ notif.message }}
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
